body{
	background: #F7F8FA;
}
*{
	margin:0;
	padding:0;
	font-family: var(--rubik);
	box-sizing: border-box;
}
.site_name{
	color:white;
	text-decoration: none;
	font-family: cinzelDecorative;
}
.db{
	display: block;
}
.bg-white{
	background: white;
}
.bg-silver{
	background: silver;
}
.bg-E9F2FB{
	background: #E9F2FB;
}
.bg-4044C8{
	background: #4044C8;
}
.box-s-default{
	box-shadow: 0 0 20px -10px black;
}
.c-white{
	color: white;
}
.c-grey{
	color: grey;
}
.fs-12px{
	font-size: 12px !important;
}
.fs-14px{
	font-size: 14px !important;
}
.fs-18px{
	font-size: 18px !important;
}
a{
	font-size: inherit;
	color:inherit;
	text-decoration: inherit;
}
.link{
	color:blue;
	text-decoration: underline;
}
.cp{
	cursor: pointer;
}
.bg-n{
	background: transparent;
}
.ta-c{
	text-align: center;
}
.ta-r{
	text-align: right;
}
.of-h{
	overflow: hidden;
}
.of-a{
	overflow: auto;
}
.size-60px{
	width: 60px;
	height: 60px;
}
.size-100{
	width: 100%;
	height: 100vh;
}
.w-30{
	width: 33.3%;
	flex-basis: 33.3%;
}
.w-50{
	width: 50%;
	flex-basis: 50%;
}
.w-55{
	width: 55%;
}
.h-20px{
	height: 20px;
}
.h-30px{
	height: 30px;
}
.w-60{
	width: 60%;
}
.w-20px{
	width: 20px;
}
.w-80{
	width: 80%;
}
.w-90{
	width: 90%;
}
.w-100{
	width: 100%;
	flex-basis: 100%;
}
.w-80px{
	width: 80px;
}
.w-550px{
	width: 550px;
}
.w-250px{
	width: 250px;
}
.w-300px{
	width: 300px;
}
.w-400px{
	width: 400px;
}
.w-450px{
	width: 450px;
}
.w-mc{
	width: max-content;
}
.mr-a{
	display:block;
	margin: auto;
}
.mr-10px{
	margin-right: 10px;
}
.mr-20px{
	margin-right: 20px;
}
.mr-30px{
	margin-right: 30px;
}
.mh-0{
	max-height: 0px;
}
.mh-100px{
	max-height: 100px;
}
.mh-200px{
	max-height: 200px;
}
.mh-400px{
	max-height: 400px;
}
.ml-2px{
	margin-left: 2px;
}
.ml-6px{
	margin-left: 6px;
}
.ml-10px{
	margin-left: 10px;
}
.mt-5px{
	margin-top: 5px;
}
.mt-10px{
	margin-top: 10px;
}
.mb-10px{
	margin-bottom: 10px;
}
.mt-20px{
	margin-top: 20px;
}
.mt-50px{
	margin-top: 50px;
}
.mt-100px{
	margin-top: 100px;
}

.mb-20px{
	margin-bottom: 20px;
}
.dn{
	display: none;
}
.mb-50px{
	margin-bottom: 50px;
}
.pd-0x20px{
	padding: 0 20px;
}
.pd-5px{
	padding: 5px;	
}
.pd-5x10{
	padding: 5px 10px;
}
.pd-10px{
	padding: 10px;
}
.pd-10x0{
	padding: 10px 0px;
}
.pd-10x20{
	padding: 10px 20px;
}
.pd-20x10{
	padding: 20px 10px;
}
.pd-20x0{
	padding: 20px 0px;
}
.pd-15x0{
	padding: 15px 0px;
}
.pd-15x10{
	padding: 15px 10px;
}
.darken{
	background: rgba(0,0,0,0.25);
	width: 100%;
	height: 100%;
}
.box-s-bb{
	box-sizing: border-box;
}
.brdr-r-20px{
	border-radius: 20px;
}
.brdr-r-50{
	border-radius: 50%;
}
.brdr-r-10px{
	border-radius: 10px;
}
.brdr-r-5px{
	border-radius: 5px;
}
.brdr-n{
	border: none;
}
.otln-n{
	outline: none;
}
.tran-300{
	transition: 300ms ease;
}
.tran-500{
	transition: 500ms ease;
}
.line{
	width: 100%;
	height: 2px;
}
.error-text{
	display: inline-block;
	font-size: 14px;
	height: 15px;
}
.auth_def_pos{
	top:-30px !important;
	color:black !important;
	font-size: 20px;
}
.rc-anchor-invisible{
	display: none !important;
}
*[class*="submit_btn"]{
	display: block;

	color: #414141;
	background-color: #fff;
	font-size: 22px;
	border: 1px solid #fff;

	cursor: pointer;
	transition-property: border, background, width, height, border-radius, border-color;

	margin-top: 20px;
}
*[class*="submit_btn"]:hover{
	color: #414141;
	background: #fff;
}
.alert{
	font-size: 14px;
	background: #fffdb6;
}
.grecaptcha-badge { visibility: hidden; }

.modal{
	display: none;
}
.modal.show{
	display: block;
}